body{
	background: #333545;
	color: #666;
	font-family: "Arial", sans-serif;
}

h1{
	text-align: center;
	color: #fff;
}

#container{
	width: 350px;
	overflow: auto;
	margin: 40px auto;
	background: #13162A;
	padding-bottom: 40px;
	border-radius: 10px;
}

#board li{
	float: left;
	margin: 10px;
	height: 70px;
	width: 70px;
	font-size: 55px;
	background: #ccc;
	list-style: none;
	text-align: center;
	border-radius: 5px;
}

#board li:hover, #reset:hover{
	cursor: pointer;
	background: #1e1818;
}

#reset{
	border: 0;
	background: #444;
	color: #fff;
	font-size: 18px;
	width: 70%;
	padding: 15px;
	border-radius: 5px;
}

.o{
	color: green !important;
}

.x{
	color:red !important;
}

#reset-container{
	display: block;
	text-align: center;
	padding-top: 20px;
}

#scoreboard{
	width: 350px;
	background: #090C1E;
	border-top-style: groove;
	border-bottom-style: groove;
	color: #ccc;
}

#player-o-name, #player-o-score{
	float: left;
	width: 160px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#player-x-name, #player-x-score{
	float: right;
	width: 160px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}