body{
	background: #365147;
	color: #666;
	font-family: "Arial", sans-serif;
}

h1{
	text-align: center;
	color: #fff;
}

#container{
	width: 350px;
	overflow: auto;
	margin: 40px auto;
	background: #102920;
	padding-bottom: 40px;
	border-radius: 10px;
}

#board li{
	float: left;
	margin: 10px;
	height: 70px;
	width: 70px;
	font-size: 55px;
	background: #ccc;
	list-style: none;
	text-align: center;
	border-radius: 5px;
}

#board li:hover, #reset:hover{
	cursor: pointer;
	background: #1e1818;
}

#reset{
	border: 0;
	background: #444;
	color: #fff;
	font-size: 18px;
	width: 70%;
	padding: 15px;
	border-radius: 5px;
}

.o{
	color: green !important;
}

.x{
	color:red !important;
}

#reset-container{
	display: block;
	text-align: center;
	padding-top: 20px;
}

#score-board{
	width: 350px;
	overflow: auto;
	background: #365147;
	border-bottom-style: groove
}

/*#player-o-name{
	border-bottom-style: groove;
	border-right-style: groove;
}*/

/*#player-o-score{
	border-right-style: groove;
}*/

/*#player-x-name{
	border-bottom-style: groove;
	border-left-style: groove;
}*/

/*#player-x-score{
	border-left-style: groove;
}*/